body{
    font-family: 'Inter Tight', sans-serif;
    background-color: lightslategrey;

}


footer{
    text-align: center;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color: beige;
    text-align: center;
}

h3{
    font-size: 1rem;
font-weight: 300;
}

h3{
line-height: normal;
font-style: normal;
font-size: 1rem;
font-weight: 100;
}

.background-ppal{
    background-image: url(../img/mifoto_1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20%;
}

.tamano-logo{
    width: 86px;
    height: 25px;
}

.mboton {
    margin-bottom: 10px;
}
.precionormal-card{
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}
.preciodcto-card{
    font-size: 20px;
    font-weight: 500;
    color: #28A745;
}
.titulo1-card {
    font-size: 20px;
    font-weight: 300;
    color: #212529
}

.mark-card {
    font-size: 16px;
    font-weight: 300;
    color: #707070
}

.stitle-card{
    font-size: 13px;
    font-weight: 300;
    color: #707070;
}
.title-form {
    font-size: 21px;
    font-weight: 300;
}
.footer-form {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}